@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "pretendard";
  src: url("/fonts/pretendard-Regular.subset.woff2") format("woff2"),
    url("/fonts/pretendard-Regular.subset.woff") format("woff");
  font-weight: 400;
  font-display: auto;
}

@font-face {
  font-family: "pretendard";
  src: url("/fonts/pretendard-Medium.subset.woff2") format("woff2"),
    url("/fonts/pretendard-Medium.subset.woff") format("woff");
  font-weight: 500;
  font-display: auto;
}

@font-face {
  font-family: "pretendard";
  src: url("/fonts/pretendard-Bold.subset.woff2") format("woff2"),
    url("/fonts/pretendard-Bold.subset.woff") format("woff");
  font-weight: 700;
  font-display: auto;
}

@font-face {
  font-family: "blackHanSans";
  src: url("/fonts/blackHanSans.ttf") format("truetype");
  font-weight: 400;
  font-display: auto;
}

* {
  box-sizing: border-box;
  font-family: pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

body {
  margin: 0;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
